html {
    scroll-behavior: smooth;
}

.btn {
    display: flex;
    margin: auto;
    color: var(--bs-btn-color);
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    background-color: var(--bs-btn-bg);
}

.col {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 1.5rem auto;
    width: 35%;
  }
  
  .col h2 {
    font-size: 64px;
  }

  
#img_chamada {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
  }

#img_chamada {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: auto;
    height: 480px;
  }